extends ../layout

block content 
    h1 Bicis
    table.table
        thead 
            tr
                th ID 
                th Color 
                th Modelo 
                th Ubicación
                th 
        tbody 
            each bici in bicis 
                tr 
                    td=bici.id 
                    td=bici.color 
                    td=bici.modelo
                    td=bici.ubicacion
                    td 
                        form.inline(method='post' action='/bicicletas/' + bici.id + '/delete')
                            input(type='hidden' name='id' value= bici.id)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                                = 'Eliminar'
                    td
                        a(href='bicicletas/' + bici.id + '/update') Editar
    a(href='/') Home